* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(148, 212, 238);
}
nav {
  background-color: gray;
  margin: 1rem;
  margin-top: 0;
  border-radius: 5px;
  padding: 10px;
  font-family: sans-serif;
  font-size: 1.2rem;
}
ul {
  display: flex;
  justify-content: space-around;
}
li {
  list-style: none;
}
li a {
  color: #fff;
}
header {
  display: flex;
  text-align: center;
  /* flex-direction: column; */
}
.header__img {
  width: 170px;
  padding: 1rem;
  height: 170px;
  border-radius: 50%;
}
.container {
  width: 800px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem auto;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 10px;
}
a {
  list-style: none;
  text-decoration: none;
  color: blue;
}
h2 {
  margin: 5px;
}
main {
  display: flex;
  flex-direction: column;
}
main p,h2 {
    text-align: center;
}
main div {
  display: flex;
  justify-content: flex-start;
}
.code {
  width: 400px;
}
main .uwed img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
}
main hr {
    margin: 0.3rem auto;
    width: 700px;
    align-items:center;
    display: flex;
    justify-content: center;
    font-weight: 800;
}
.code-example {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uwed {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    margin: 0 auto;
}
.languages,.skills {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.wrapper {
    display: flex;
    justify-content: space-around;
}
footer {
    background-color:gray;
    border-radius:5px;
}
code {
  font-size: 1.2rem;
  border: none;
  border-radius:5px;
  width: 600px;
  padding: 10px;
  background-color:rgb(192, 189, 189);
  color:darkblue;
}
footer .links .github img {
    width: 100px;
    padding: 5px;
    border-radius:10px;
}
footer .links .rsschool-logo img {
    width: 125px;
    height: 6rem;
    padding: 5px;
    border-radius:10px;
}
.date {
    margin-top: 3rem;
}
.links {
    display: flex;
    justify-content: space-around;
}
